/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: Inter;
  --accent-font-family: PressStart2P;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --accent-color: #fff;
  --main-color: #000;
  --border: 2px solid var(--main-color);
  --bg-image: repeating-linear-gradient(
      rgb(211, 211, 211) 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(211 211 211) 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    linear-gradient(rgb(231, 231, 231) 0.01%, rgb(26, 26, 26));

  --heart-main-color: rgb(255, 0, 0);
  --heart-contour-color: #000;
  --heart-center-color: #fff;
}
